@import '../../variables';

.nav {
	margin-bottom: 30px;
	&__search {
		display: flex;
		padding: 10px;
		align-items: center;
		background-color: var(--second-bg-color);
		border-radius: 20px;
		&__input {
			width: 100%;
			box-sizing: border-box;
			background-color: var(--second-bg-color);
			outline: none;
			border: none;
      color: var(--text-color)
		}
		&__btn {
			border: none;
			background-color: inherit;
			cursor: pointer;
		}
	}
	.open {
		border-radius: 20px 20px 0 0;
	}
}

.dropdown {
	position: relative;
	top: -10px;
	background-color: var(--second-bg-color);
	&__menu {
		position: absolute;
		list-style-type: none;
		background-color: var(--second-bg-color);
		margin: 10px 0;
		padding: 0;
		width: 100%;
		border-radius: 20px;
		&__item {
			margin: 2;
			background-color: var(--second-bg-color);
			&:hover {
				background-color: lightgray;
			}
			&:last-child {
				border-radius: 0 0 20px 20px;
			}
		}
	}
	.btn_dropdown {
		width: 100%;
		height: 100%;
		text-align: left;
		background: none;
		border: none;
		padding: 10px;
		cursor: pointer;
	}
}
