@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './variables';

body {
	font-family: 'Twemoji Country Flags', 'Roboto', sans-serif;
	font-weight: 400;
	background-color: $second-color;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}
